body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #0e2238;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #0e2238;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #c9daf2;
}

.action-buttons {
    display: flex;  
    gap: 10px;
}

.action-buttons button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button {
    background-color: #007bff;
    color: white;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #c82333;
}

#search {
    margin: 20px 0;
    padding: 10px 15px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #515151;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#search:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button.active {
    background-color: #0e2238;
    color: white;
}

.pagination button:hover:not(.active) {
    background-color: #f1f1f1;
}